.e1 {
    padding-top: 200px;
    font-size: 40px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    ;
}

.e2 {
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.e3 {
    padding-left: 500px;
    width: 1000px;
    height: 500px;
    align-items: center;
}

.e4 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.e5 {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.e6 {
    padding-top: 40px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.e7 {
    text-align: center;
}

.e8 {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

.e9 {
    font-weight: bold;
    padding-top: 10px;
    color: #0097FF;
    font-size: 20px;
    text-align: center;
}

.e10 {
    padding-top: 20px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.e11 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.e12 {
    padding-left: 30px;
    margin-left: 50px;
    color: #0097FF;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 20px;
}

.e14 {
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 20px;
}

.e15 {
    padding-right: 30px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}